.sliderWrapperPorCategoria {
  width: 1150px;
  overflow: hidden;
  margin: auto;
}

.sliderContainerPorCategoria {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.sliderItemPorCategoria {
  flex: 0 0 20%; /* 100% / 5 itens */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  margin: auto;
}

.sliderItemPorCategoria img {
    width: 80%;
    -o-object-fit: contain;
    object-fit: contain;    
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.sliderDots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.dot {
    width: 5px;
    height: 12px;
    border-radius: 10px;
    background-color: #bdc9d6;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.dot.active {
  background-color: #454545;
}
.tituloPorCategoria {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    margin-bottom: 1rem;
}
.iconPorCategoria {
    width: 40px;
    height: auto;
}
@media (max-width: 600px) {
  .sliderWrapperPorCategoria { 
    width: 100%;
  }
  .sliderItemPorCategoria {
    flex: 0 0 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
  }
  .sliderContainerPorCategoria {
    display: flex;
    flex-direction: row;
  }
  .sliderItemPorCategoria img {
    width: 65%;
  }
}
