.containerTopBar {
    background-color: #000;
    color: #FFF;
    width: 100%;
    display: flex;
    justify-content: space-around;
    & a {
        cursor: pointer;
        text-decoration: none;
        color: #FFF;
    }
}

.contentTopBar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 5px;
    height: 40px;
    margin: auto;
    width: 1366px;
    justify-content: space-between;
    align-items: center;
}

.portalTopBar a {
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    display: flex;
    gap: 5px;
}

.linksRapidosTopBar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.linksRapidosTopBar span {
    font-size: 14px;
}

.portalTopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.carouselItemTopBar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sliderImageTopBar {
    width: 17px;
}

@media(max-width: 600px){
    .contentTopBar {
        width: 100%;
        gap: 10px;
        height: auto;
        flex-direction: column;
        padding: 0 0 0 0;
    }   
    .ChooseLanguageWrapperTopBar {
        padding: 0.5rem 0 1rem;
    }
    .carouselWrapperTopBar {
        background-color: #707070;
        padding: 10px;
        text-align: center;
        width: 100%;
    }
    .carouselItemTopBar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .sliderImageTopBar {
        width: 17px;
    }
    
}