.containerBannersThird {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1250px;
  margin: auto;
}

.containerBannersThird .img1 {
  width: 408px;
}

.containerBannersThird .columnBanners {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ---- Mobile (carrossel 1 por 1) ---- */
@media (max-width: 600px) {
  .containerBannersThird {
    display: none;
  }
}